
{% extends "base.html" %}
{% block title %} update {{ detail.ld }} {% endblock%}

{% block content %}

    <h1 class="lead my-4">update comment</h1>

    <div class="card">
        <div class="card-header">
            <h3 class="lead">update comment</h3>
        </div>

        <div class="card-body border-bottom py-3">

        <form method="POST">
            <div class="mb-3">

                <label for="comment" class="form-label">opinion</label
                >
                <textarea
                    required
                    id="comment"
                    class="form-control"
                    name="opinion"
                    rows="3"
                >
                        {{ detail.opinion }}
                    </textarea
                >
            </div>

            <button type="submit" class="btn btn-outline-primary btn-sm">
                submit
            </button>
        </form>

        </div>

    </div>

{% endblock %}
