
{% extends "base.html" %}
{% block title %} rent {{ detail.title }} {% endblock %}

{% block calendar_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
{% endblock %}


{% block content %}

<h1 class="lead my-4">detail rent...</h1>

<div class="flex_cont">
    <div class="col-xxl-6 col-sm-10 card p-3 mb-5">

    <ul class="card-header list-group list-group-horizontal">
        <li class="list-group-item">
            <sup class="float-start">id:</sup>
            {{ detail.id }}...
        </li>
        <li class="list-group-item">
            <sup class="float-start">rent belongs:</sup>
            <span class="me-3">
                {{ detail.rent_belongs }}
            </span>
        </li>
        <li class="list-group-item">
            <sup class="float-start">owner:</sup>
            <span>{{ detail.rent_owner }}</span>
        </li>
    </ul>

    <ul class="card-body list-group list-group-flush">
        <li class="list-group-item">
            <sup class="float-start">rent duty:</sup>
            {{ detail.rent_duty }}
        </li>
        <li class="list-group-item">
            <sup class="float-start">title:</sup>
            {{ detail.title }}
        </li>
        <li class="list-group-item">
            <sup class="float-start">description:</sup>
            {{ detail.description | safe }}
        </li>
    </ul>
    <ul class="card-footer list-group list-group-flush">
        <li class="list-group-item">
            <sup class="float-start">created:</sup>
            <time>{{ detail.created_at }}</time>
        </li>
    </ul>

    </div>

    {% if detail.file %}
    <div class="col-xxl-5 col-sm-10 ms-3">
        <img class="w-100 shadow-sm mb-5" src="/static/upload/{{ detail.file.path }}">
    </div>
    {% endif %}
</div>

{% if request.user.is_authenticated %}

    <div class="card mt-2">
        <div class="card-header">
            <a class="btn btn-outline-primary btn-sm me-2" href="/item/rent/update/{{ detail.id }}" role="button">
                <i class="bi bi-pencil"></i> &raquo;
            </a>
            <a class="btn btn-outline-danger btn-sm" href="/item/rent/delete/{{ detail.id }}" role="button">
                <i class="bi bi-trash3"></i> &raquo;
            </a>
        </div>
        <div class="card-footer">
        <a class="btn btn-outline-primary btn-sm" href="/comment/rent/create/{{ detail.id }}">create comment</a>
        </div>
    </div>

{% endif %}

{% include "comment/list.html" %}


{% if sch_list %}
    {% for sch in sch_list %}

    <div class="card mt-5">
        <div class="card-header">
            <h2 class="lead">
                {{ sch.id }} {{ sch.title }}
            </h2>
        </div>
        <div class="card-body">
            <div id="{{ sch.title }}"></div>
        </div>
        <div class="card-footer">
            <p>
                {{ sch.by_points }}
            </p>
        </div>
    </div>

{% include "item/rent/calendar_js.html" %}

{% endfor %}

    {% else %}
    <div class="mt-5"><p>no information available</p></div>
{% endif %}

{% endblock %}


