
{% extends "base.html" %}
{% block title %} reserve {{ rtf.title }} {% endblock %}

{% block content %}

    <h1 class="lead my-5">detail reserve</h1>

    <div class="card p-3 me-2 mb-3">

        <ul class="card-header list-group list-group-horizontal">
            <li class="list-group-item">
                <sup class="float-start">id:</sup>
                <span class="me-3">{{ rtf.id }}</span>
            <li class="list-group-item">
                <sup class="float-start">owner reserve:</sup>
                <span>{{ rtf.owner_reserve }}</span>
            </li>
            <li class="list-group-item">
                <sup class="float-start">rsv item:</sup>
                {{ rtf.reserve_something }}
            </li>
        </ul>

        <ul class="card-header list-group list-group-horizontal">
            <li class="list-group-item">
                <sup class="float-start">rsv time:</sup>
                <time>{{ rtf.reserve_time }}</time>
            </li>
            <li class="list-group-item">
                <sup class="float-start">start:</sup>
                <time>{{ rtf.time_start }}</time>
            </li>
            <li class="list-group-item">
                <sup class="float-start">end:</sup>
                <time>{{ rtf.time_end }}</time>
            </li>
        </ul>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <sup class="float-start">description:</sup>
                {{ rtf.description }}
            </li>
            <li class="list-group-item">
                <sup class="float-start">reserve period:</sup>
                {{ rtf.reserve_period }}
            </li>
        </ul>

    {% if request.user.is_authenticated %}

    <div class="card mt-2">
        <div class="card-header">
            <a class="btn btn-outline-primary btn-sm me-2" href="/reserve/update/{{ rtf.id }}" role="button">
                <i class="bi bi-pencil"></i> &raquo;
            </a>
            <a class="btn btn-outline-danger btn-sm" href="/reserve/delete/{{ rtf.id }}" role="button">
                <i class="bi bi-trash3"></i> &raquo;
            </a>
        </div>
    </div>

    {% endif %}

    </div>

{% endblock %}